/*

   BORDER COLORS
   Docs: http://tachyons.io/docs/themes/borders/

   Border colors can be used to extend the base
   border classes ba,bt,bb,br,bl found in the _borders.css file.

   The base border class by default will set the color of the border
   to that of the current text color. These classes are for the cases
   where you desire for the text and border colors to be different.

   Base:
     b = border

   Modifiers:
   --color-name = each color variable name is also a border color name

*/

.b--black {        border-color: var(--black); }
.b--near-black {   border-color: var(--near-black); }
.b--dark-gray {    border-color: var(--dark-gray); }
.b--mid-gray {     border-color: var(--mid-gray); }
.b--gray {         border-color: var(--gray); }
.b--silver {       border-color: var(--silver); }
.b--light-silver { border-color: var(--light-silver); }
.b--moon-gray {    border-color: var(--moon-gray); }
.b--light-gray {   border-color: var(--light-gray); }
.b--near-white {   border-color: var(--near-white); }
.b--white {        border-color: var(--white); }

.b--white-90 {   border-color: var(--white-90); }
.b--white-80 {   border-color: var(--white-80); }
.b--white-70 {   border-color: var(--white-70); }
.b--white-60 {   border-color: var(--white-60); }
.b--white-50 {   border-color: var(--white-50); }
.b--white-40 {   border-color: var(--white-40); }
.b--white-30 {   border-color: var(--white-30); }
.b--white-20 {   border-color: var(--white-20); }
.b--white-10 {   border-color: var(--white-10); }
.b--white-05 {   border-color: var(--white-05); }
.b--white-025 {   border-color: var(--white-025); }
.b--white-0125 {   border-color: var(--white-0125); }

.b--black-90 {   border-color: var(--black-90); }
.b--black-80 {   border-color: var(--black-80); }
.b--black-70 {   border-color: var(--black-70); }
.b--black-60 {   border-color: var(--black-60); }
.b--black-50 {   border-color: var(--black-50); }
.b--black-40 {   border-color: var(--black-40); }
.b--black-30 {   border-color: var(--black-30); }
.b--black-20 {   border-color: var(--black-20); }
.b--black-10 {   border-color: var(--black-10); }
.b--black-05 {   border-color: var(--black-05); }
.b--black-025 {   border-color: var(--black-025); }
.b--black-0125 {   border-color: var(--black-0125); }

.b--dark-red { border-color: var(--dark-red); }
.b--red { border-color: var(--red); }
.b--light-red { border-color: var(--light-red); }
.b--orange { border-color: var(--orange); }
.b--gold { border-color: var(--gold); }
.b--yellow { border-color: var(--yellow); }
.b--light-yellow { border-color: var(--light-yellow); }
.b--purple { border-color: var(--purple); }
.b--light-purple { border-color: var(--light-purple); }
.b--dark-pink { border-color: var(--dark-pink); }
.b--hot-pink { border-color: var(--hot-pink); }
.b--pink { border-color: var(--pink); }
.b--light-pink { border-color: var(--light-pink); }
.b--dark-green { border-color: var(--dark-green); }
.b--green { border-color: var(--green); }
.b--light-green { border-color: var(--light-green); }
.b--navy { border-color: var(--navy); }
.b--dark-blue { border-color: var(--dark-blue); }
.b--blue { border-color: var(--blue); }
.b--light-blue { border-color: var(--light-blue); }
.b--lightest-blue { border-color: var(--lightest-blue); }
.b--washed-blue { border-color: var(--washed-blue); }
.b--washed-green { border-color: var(--washed-green); }
.b--washed-yellow { border-color: var(--washed-yellow); }
.b--washed-red { border-color: var(--washed-red); }

.b--transparent { border-color: var(--transparent); }
.b--inherit { border-color: inherit; }


/* hover */

.b--black-hover:hover, {
          border-color: var(--black);
          transition: border-color .25s ease-in-out;
        }
.b--near-black-hover:hover, {
     border-color: var(--near-black);
     transition: border-color .25s ease-in-out;
   }
.b--dark-gray-hover:hover, {
      border-color: var(--dark-gray);
      transition: border-color .25s ease-in-out;
    }
.b--mid-gray-hover:hover, {
       border-color: var(--mid-gray);
       transition: border-color .25s ease-in-out;
     }
.b--gray-hover:hover, {
           border-color: var(--gray);
           transition: border-color .25s ease-in-out;
         }
.b--silver-hover:hover, {
         border-color: var(--silver);
         transition: border-color .25s ease-in-out;
       }
.b--light-silver-hover:hover, {
   border-color: var(--light-silver);
   transition: border-color .25s ease-in-out;
 }
.b--moon-gray-hover:hover, {
      border-color: var(--moon-gray);
      transition: border-color .25s ease-in-out;
    }
.b--light-gray-hover:hover, {
     border-color: var(--light-gray);
     transition: border-color .25s ease-in-out;
   }
.b--near-white-hover:hover, {
     border-color: var(--near-white);
     transition: border-color .25s ease-in-out;
   }
.b--white-hover:hover, {
          border-color: var(--white);
          transition: border-color .25s ease-in-out;
        }

.b--white-90-hover:hover, {
     border-color: var(--white-90);
     transition: border-color .25s ease-in-out;
   }
.b--white-80-hover:hover, {
     border-color: var(--white-80);
     transition: border-color .25s ease-in-out;
   }
.b--white-70-hover:hover, {
     border-color: var(--white-70);
     transition: border-color .25s ease-in-out;
   }
.b--white-60-hover:hover, {
     border-color: var(--white-60);
     transition: border-color .25s ease-in-out;
   }
.b--white-50-hover:hover, {
     border-color: var(--white-50);
     transition: border-color .25s ease-in-out;
   }
.b--white-40-hover:hover, {
     border-color: var(--white-40);
     transition: border-color .25s ease-in-out;
   }
.b--white-30-hover:hover, {
     border-color: var(--white-30);
     transition: border-color .25s ease-in-out;
   }
.b--white-20-hover:hover, {
     border-color: var(--white-20);
     transition: border-color .25s ease-in-out;
   }
.b--white-10-hover:hover, {
     border-color: var(--white-10);
     transition: border-color .25s ease-in-out;
   }
.b--white-05-hover:hover, {
     border-color: var(--white-05);
     transition: border-color .25s ease-in-out;
   }
.b--white-025-hover:hover, {
     border-color: var(--white-025);
     transition: border-color .25s ease-in-out;
   }
.b--white-0125-hover:hover, {
     border-color: var(--white-0125);
     transition: border-color .25s ease-in-out;
   }

.b--black-90-hover:hover, {
     border-color: var(--black-90);
     transition: border-color .25s ease-in-out;
   }
.b--black-80-hover:hover, {
     border-color: var(--black-80);
     transition: border-color .25s ease-in-out;
   }
.b--black-70-hover:hover, {
     border-color: var(--black-70);
     transition: border-color .25s ease-in-out;
   }
.b--black-60-hover:hover, {
     border-color: var(--black-60);
     transition: border-color .25s ease-in-out;
   }
.b--black-50-hover:hover, {
     border-color: var(--black-50);
     transition: border-color .25s ease-in-out;
   }
.b--black-40-hover:hover, {
     border-color: var(--black-40);
     transition: border-color .25s ease-in-out;
   }
.b--black-30-hover:hover, {
     border-color: var(--black-30);
     transition: border-color .25s ease-in-out;
   }
.b--black-20-hover:hover, {
     border-color: var(--black-20);
     transition: border-color .25s ease-in-out;
   }
.b--black-10-hover:hover, {
     border-color: var(--black-10);
     transition: border-color .25s ease-in-out;
   }
.b--black-05-hover:hover, {
     border-color: var(--black-05);
     transition: border-color .25s ease-in-out;
   }
.b--black-025-hover:hover, {
     border-color: var(--black-025);
     transition: border-color .25s ease-in-out;
   }
.b--black-0125-hover:hover, {
     border-color: var(--black-0125);
     transition: border-color .25s ease-in-out;
   }

.b--dark-red-hover:hover, {
   border-color: var(--dark-red);
   transition: border-color .25s ease-in-out;
 }
.b--red-hover:hover, {
   border-color: var(--red);
   transition: border-color .25s ease-in-out;
 }
.b--light-red-hover:hover, {
   border-color: var(--light-red);
   transition: border-color .25s ease-in-out;
 }
.b--orange-hover:hover, {
   border-color: var(--orange);
   transition: border-color .25s ease-in-out;
 }
.b--gold-hover:hover, {
   border-color: var(--gold);
   transition: border-color .25s ease-in-out;
 }
.b--yellow-hover:hover, {
   border-color: var(--yellow);
   transition: border-color .25s ease-in-out;
 }
.b--light-yellow-hover:hover, {
   border-color: var(--light-yellow);
   transition: border-color .25s ease-in-out;
 }
.b--purple-hover:hover, {
   border-color: var(--purple);
   transition: border-color .25s ease-in-out;
 }
.b--light-purple-hover:hover, {
   border-color: var(--light-purple);
   transition: border-color .25s ease-in-out;
 }
.b--dark-pink-hover:hover, {
   border-color: var(--dark-pink);
   transition: border-color .25s ease-in-out;
 }
.b--hot-pink-hover:hover, {
   border-color: var(--hot-pink);
   transition: border-color .25s ease-in-out;
 }
.b--pink-hover:hover, {
   border-color: var(--pink);
   transition: border-color .25s ease-in-out;
 }
.b--light-pink-hover:hover, {
   border-color: var(--light-pink);
   transition: border-color .25s ease-in-out;
 }
.b--dark-green-hover:hover, {
   border-color: var(--dark-green);
   transition: border-color .25s ease-in-out;
 }
.b--green-hover:hover, {
   border-color: var(--green);
   transition: border-color .25s ease-in-out;
 }
.b--light-green-hover:hover, {
   border-color: var(--light-green);
   transition: border-color .25s ease-in-out;
 }
.b--navy-hover:hover, {
   border-color: var(--navy);
   transition: border-color .25s ease-in-out;
 }
.b--dark-blue-hover:hover, {
   border-color: var(--dark-blue);
   transition: border-color .25s ease-in-out;
 }
.b--blue-hover:hover, {
   border-color: var(--blue);
   transition: border-color .25s ease-in-out;
 }
.b--light-blue-hover:hover, {
   border-color: var(--light-blue);
   transition: border-color .25s ease-in-out;
 }
.b--lightest-blue-hover:hover, {
   border-color: var(--lightest-blue);
   transition: border-color .25s ease-in-out;
 }
.b--washed-blue-hover:hover, {
   border-color: var(--washed-blue);
   transition: border-color .25s ease-in-out;
 }
.b--washed-green-hover:hover, {
   border-color: var(--washed-green);
   transition: border-color .25s ease-in-out;
 }
.b--washed-yellow-hover:hover, {
   border-color: var(--washed-yellow);
   transition: border-color .25s ease-in-out;
 }
.b--washed-red-hover:hover, {
   border-color: var(--washed-red);
   transition: border-color .25s ease-in-out;
 }

.b--transparent-hover:hover, {
   border-color: var(--transparent);
   transition: border-color .25s ease-in-out;
 }
.b--inherit-hover:hover, {
   border-color: inherit;
   transition: border-color .25s ease-in-out;
 }
